{% extends "layout.html" %}
{% block content %}
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-75">
      <div class="row d-flex justify-content-center align-items-center h-75">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/lotus.png" style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">We are COMP3122 Group 1</h4>
                  </div>
                  <form  action="/login" method="POST">
                    <p>Please login to your account</p>
                    <div class="form-outline mb-4">
                      <input id="form2Example11" class="form-control" name="username" placeholder="User Account"/>
                      <label class="form-label" for="form2Example11">User Account</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example22" name="password" class="form-control" />
                      <label class="form-label" for="form2Example22">Password</label>
                    </div>
                    <div class="text-center pt-1 mb-5 pb-1">
                        <input class="btn btn-default" type="submit" value="Login">
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Uber Eat APIfsfdfsdfsd</h4>
                  <p class="small mb-0">Please Support Us</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}